<h2 class="mb-4">Player List</h2>
<button routerLink="/add" class="btn btn-primary mb-3">Add Player</button>
<table class="table table-striped table-bordered">
  <thead >
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Jersey Number</th>
      <th>Role</th>
      <th>Total Matches</th>
      <th>Team Name</th>
      <th>Country</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let player of players">
      <td>{{ player.playerId }}</td>
      <td>{{ player.playerName }}</td>
      <td>{{ player.jerseyNumber }}</td>
      <td>{{ player.role }}</td>
      <td>{{ player.totalMatches }}</td>
      <td>{{ player.teamName }}</td>
      <td>{{ player.countryName }}</td>
      <td>{{ player.description }}</td>
      <td>
        <button [routerLink]="['/edit', player.playerId]" class="btn btn-warning btn-sm">Edit</button>
        <button (click)="deletePlayer(player.playerId)" class="btn btn-danger btn-sm">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
